body {
  background-color: #B4CFB0;
  }
h1 {color: #557B83;
}
h3 {color: #557B83;
}


hr {
  border-style:none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width: 5%;
}
